<h1>Welcome <%= @user.name %> </h1>
<div class='list-container created-events'>
    <h2>Here are all the events you have created</h2>

        <% @user.created_events.each do |f| %>
        <ol class='created-events'>
            <%= f.title %>
        </ol>
        <% end %>
</div>
<div class='list-container attended-events'>
    <h2>Here are all the events you will be attending:</h2>
        <% @upcoming_events.each do |f| %>
        <ol class='upcoming event'>
        <%= f.title %>
        </ol>
        <% end %>
    <h2>Here are all the events you have attended:</h2>
        <% @previous_events.each do |f| %>
        <ol class='previous event'>
        <%= f.title %>
        </ol>
        <% end %>
</div>